
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}

h1 {
  color: #707070;
  font-size: 11px;
}

h2 {
  color: #333235;
  font-size: 34px;
}

p {
  color: #5D5D5D;
  font-size: 19px;
}

hr {
  border: #F4581F solid 3px;
  width: 5%;
}