@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --font-main: "Lato", sans-serif;
    --font-accent: "Nunito Sans", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}

h1 {
  color: #707070;
  font-size: 11px;
  font-family: var(--font-main);
}

h2 {
  color: #333235;
  font-size: 34px;
  font-family: var(--font-accent);
}

p {
  color: #5D5D5D;
  font-size: 19px;
  font-family: var(--font-main);
}

hr {
  border: #F4581F solid 3px;
  width: 5%;
}